* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "PT Sans", sans-serif;
  --second-family: "Bebas Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f4f5f9;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
